<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="/css/index.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="container" style="padding-top: 2rem; padding-bottom: 2rem;">
        <div class="row">
            <div class="container">
                <h2>Add a block</h2>
                <div class="form-group">
                    <label for="data">Enter your data</label>
                    <textarea name="data" id="data" cols="30" rows="10" class="form-control" placeholder="Enter data here..."></textarea>
                </div>
                <button class="btn btn-primary" id="btn-add-to-block">Add to Block chain</button>
                <label id="add-to-block-error" class="alert alert-danger"></label>
                <label id="add-to-block-success" class="alert alert-success"></label>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="container">
                <h2>Get a block</h2>
                <div class="form-group">
                    <label>Block Number:</label>
                    <input type="text" class="form-control" id="block-number">
                </div>
                <button class="btn btn-primary" id="btn-get-block">Get the Block Data</button>
                <p id="block-data" class="alert alert-info" style="word-break: break-all"></p>
                <label id="get-block-error" class="alert alert-danger"></label>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="container">
                <h2>Validate a block</h2>
                <div class="form-group">
                    <label>Block Number</label>
                    <input type="text" id="validation-block-number" class="form-control">
                </div>
                <button class="btn btn-primary" id="btn-validate-a-block">Validate</button>
                <p id="validation-result"></p>
                <p id="validation-a-block-eror" class="alert alert-danger"></p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="container">
                <h2>Validate the block chain</h2>
                <button class="btn btn-primary" id="btn-validate-the-chain">Validate</button>
                <p id="chain-validation-result"></p>
                <p id="chain-validation-error" class="alert alert-danger"></p>
            </div>

        </div>
    </div>
    <script src="/js/addBlock.js"></script>
    <script src="/js/getABlock.js"></script>
    <script src="/js/validateABlock.js"></script>
    <script src="/js/validateTheChain.js"></script>
</body>

</html>